.wrapper {
  max-width: 1280px;
  margin: auto;
  font: 14px 'Arial', sans-serif;;
}

.header-title {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  height: 550px;
  display: flex;
  flex-flow: column;
}

.main__tables {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

table, thead, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0 5px;
}

.main__result {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}

.main__fill-btn, .main__clear-btn {
  align-self: center;
}


.main__fill-btn button {
  color: darkblue;
}

.main__clear-btn button {
  color: crimson;
}

.main__run-btn button {
  color: darkgreen;
}

.main__input-box{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main__input-box input {
  /*width: 70px;*/
}

.main__input-box label {
  width: 290px;
}

.button {
  padding: 5px 15px;
}
